{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <section class="section">
            <div class="container"><h1 class="title">{{ total }}</h1>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for entry in posts %}
                        <div class="col">

                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">{{ entry.title }}</h5>
                                    <a href="/posts/{{ entry.id }}" class="btn btn-outline-primary">Ver</a>
                                    {% if entry.files|length > 0  %}

                                        {% for file in entry.files %}
                                            {{ file.file.name }}
                                        {% endfor %}
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>




            </div>
        </section>
    </div>
{% endblock body %}
